<% content_for :title, "Search" %>
<%= render 'shared/navbar_bottom' %>
<div class="container">
  <%= form_tag tracks_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a track" %>
  <% end %>
</div>

<% @tracks.each do |track| %>
  <%= render 'shared/track_card', track: track %>
<!--   <%#= link_to track_path(track.id) do %>
    <div class="song-card">
      <%#= cl_image_tag track.cover_photo.key, class:"song-img" %>
      <p class="song-title"><%= track.title %></p>
      <p class="song-artist"><%= track.artist %></p>
    </div>
  <#% end %> -->
<% end %>
</body>
