<% content_for :title, "Bid" %>

<div class="bid-song-info d-flex">
  <%= cl_image_tag @track.cover_photo.key, class:"album-cover" %>
  <p class="bid-song-title"><%= @track.title %></p>
  <p class="bid-artist">Song by <%= @track.artist %></p>
</div>

<div class="place-bid d-flex">
  <%= image_tag "005-plus.svg", alt: "plus"%>
  <p id="current-bid">£0.05</p>
  <%= image_tag "006-minus.svg", alt: "minus" %>
</div>

<div class="bottom d-flex">
  <button class="btn-pink btn btn-primary">BID</button>
</div>
<div class="add-money-form hidden">
        <%= simple_form_for current_user, remote: true, url: {action: :update, controller: 'registrations'}, :method => :patch do |f| %>
          <%= f.input :balance_cents, as: :hidden %>
          <div class="balance-incrementer mb-3">
            <a class="btn-incrementer round-bordered" id="minus" data-offset="-50">-</a>
          <div class="flex-grow-1">
          <%= f.button :submit, "ADD £0.50", class:"btn btn-green", id:"submit", data: {:"count" => 50 } %>
          </div>
            <a class="btn-incrementer round-bordered" id="plus" data-offset="50">+</a>
          </div>
          <p id="cancel-add">Cancel</p>
        <% end %>
      </div>
  </div>

  <script>
  const plus_btn        = document.getElementById("plus");
  const minus_btn       = document.getElementById("minus");
  const submit          = document.getElementById("submit");
  const form            = document.querySelector('form');
  const balance_figure  = document.getElementById('balance-figure');
  const add_money_section  = document.getElementById("add-money");
  const add_money_btn   = document.getElementById("add-money-btn");
  const add_money_form   = document.querySelector(".add-money-form");
  const cancel_add_money_form = document.getElementById("cancel-add");

  const change_value = (action) => {
    if (action === 'plus') {
      submit.value = `ADD £${((parseInt(submit.dataset.count, 10) + 50) / 100).toFixed(2)}`;
      submit.dataset.count = parseInt(submit.dataset.count, 10) + 50
    }
    else if (action === 'minus') {
      submit.value = `ADD £${((parseInt(submit.dataset.count, 10) - 50) / 100).toFixed(2)}`;
      submit.dataset.count = parseInt(submit.dataset.count, 10) - 50
    }
  };

  add_money_btn.addEventListener('click', () => {
    add_money_btn.classList.toggle('hidden');
    add_money_form.classList.toggle('hidden');
  })

  cancel_add_money_form.addEventListener('click', () => {
    add_money_form.classList.toggle('hidden');
    add_money_btn.classList.toggle('hidden');
  })

  plus_btn.addEventListener('click', (event) => {
    event.preventDefault();
    change_value('plus');
  });

  minus_btn.addEventListener('click', (event) => {
    event.preventDefault();

    if (parseInt(submit.dataset.count, 10) > 50  ) {
      change_value('minus');
    }
  });

  form.addEventListener('submit', (event) => {
    user_balance_cents.value = parseInt(user_balance_cents.value, 10) + parseInt(submit.dataset.count, 10)
    balance_figure.innerText = (user_balance_cents.value / 100).toFixed(2)
  })

</script>

