<% content_for :title, "Account" %>
<div class="container">
    <div class="account text-center">
        <%= cl_image_tag(current_user.avatar.key, class:"avatar-xxl", transformation: [ {
      :width=>200,
      :height=>200,
      :gravity=>"face",
      :crop=>"thumb"
    } ] )%>
        <div class="account-name-infos">
            <p id="full-name">
                <%= current_user.first_name %>
                <%= current_user.last_name %>
                <% if current_user.dj %>
                <span class="badge badge-secondary pl-2 pr-2">DJ</span>
                <% end %>
            </p>
            <p id="display-name">Spotify:
                <%= current_user.display_name %>
            </p>
        </div>
        <div class="account-balance">
            <p id="balance-amount">£<span id="balance-figure"><%= current_user.balance %><span></p>
            <p id="balance-tag">Balance</p>
        </div>
        <% if current_user.dj %>
        <div class="btn btn-neutral">
            PAY OUT MY BALANCE
        </div>
        <%= link_to events_path do %>
          <div class="btn btn-pink">
              MY PLAYLISTS
          </div>
        <% end %>
        <%= link_to new_event_path do %>
          <div class="btn btn-green">
              CREATE NEW PLAYLIST
          </div>
        <% end %>
        <% else %>
        <div id="add-money">
            <button class="btn btn-pink" id="add-money-btn" style="margin-bottom: 33px;">ADD MONEY</button>
        </div>
        <% end %>
        <div class="add-money-form hidden">
            <%= simple_form_for current_user, remote: true, url: {action: :update, controller: 'registrations'}, :method => :patch do |f| %>
            <%= f.input :balance_cents, as: :hidden %>
            <div class="incrementer mb-3">
                <a class="btn-incrementer round-bordered" id="minus" data-offset="-50">-</a>
                <div class="flex-grow-1 ml-2 mr-2">
                    <%= f.button :submit, "ADD £0.50", class:"btn btn-green mt-0 mb-0", id:"submit-add-money", data: {:"count" => 50 } %>
                </div>
                <a class="btn-incrementer round-bordered" id="plus" data-offset="50">+</a>
            </div>
            <p id="cancel-add">Cancel</p>
            <% end %>
        </div>
    </div>
    <% if current_user.dj == false %>
    <div class="recent-bids">
        <p>Your Recent Bids</p>
        <% @recent_10_bids.each do |bid| %>
        <div class="row">
            <div class="song-card d-flex flex-row">
              <%= cl_image_tag Track.find(bid.event_track.track_id).cover_photo.key, class:"song-img" %>
              <div class="song-details align-self-center">
                <p class="song-title"><%= Track.find(bid.event_track.track_id).title %></p>
                <p class="song-artist"><%= Track.find(bid.event_track.track_id).artist %></p>
              </div>
              <div class="bidding-details ml-auto align-self-center">
                <span class="song-bid">£<%= bid.amount %></span>
              </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>

