
<div class="song-card-container" data-id="<%= track.id %>" >
  <div class="song-card track_card">
    <% if track.cover_photo.attached? %>
      <%= cl_image_tag track.cover_photo.key, height: 180, width: 180, crop: :fill, class: 'song-img' %>
    <% else %>
      <%= image_tag "glittery.jpg", height: 180, width: 180, class: 'song-img'%>
    <% end %>
    <p class="song-title">
      <%= track.title %>
    </p>
    <p class="song-artist">
      <%= track.artist %>
    </p>
  </div>
  <% unless current_user.dj %>
    <div class="add-money-form form d-none text-center">
      <%= simple_form_for([track, Bid.new]) do |f| %>
        <%= f.input :amount, as: :hidden %>
        <div class="incrementer mt-1 mb-1">
          <span class="minus btn-incrementer round-bordered">-</span>
          <div class="flex-grow-1 ml-2 mr-2">
            <%= f.button :submit, "BID £0.50", class:"btn btn-green mt-0 mb-0", id:"submit" %>
          </div>
          <span class="plus btn-incrementer round-bordered">+</span>
        </div>
        <p id="warning" class="hidden">You don't have enough to make this bid</p>
      <% end %>
    </div>
  <% else %>
    <div class="add d-none text-center">
      <%= link_to 'ADD', event_tracks_path(event_track: {track_id: track}), method: :post, class: 'btn btn-pink' %>
    </div>
  <% end %>
<div>


<!-- <script>
  const t_cards = document.querySelectorAll('.track-card');

  t_cards.forEach((t_card) => {
    t_card.addEventListener("click", (event) => {

      const addbtn = card.parentNode.querySelector('.add');
      addbtn.classList.toggle('d-none');
    });
  });
</script>
 -->
