<% content_for :title, "Event" %>
<div class="container-fluid">
  <div class="event text-center d-flex flex-column justify-content-between" style="background-image: url(<%= cl_image_path(@event.event_image.key) %>), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));">
    <div class="event-infos pt-5">
      <h1><%= @event.venue.name %></h1>
      <h2 id="event-name"><%= @event.name %></h2>
      <p id="event-date"><%= @event.start_date_time %></p>
    </div>
    <div class="event-actions pb-5">
      <% if Event.first.present? %>
        <%= link_to "I'm here", event_event_track_path(@event.id), class: "btn btn-pink mb-3" %>
        <p><%= link_to 'Not here?', event_path(@other_events.sample) %></p>
      <% end %>
    </div>
</div>

<!-- if event in past then greyscale -->
