<% content_for :title, "Event" %>
<div class="container-fluid">
  <div class="event text-center" style="background-image: url(<%= rails_blob_url(@event.event_image) %>), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));">
    <div class="event-infos">
      <h1><%= @event.venue.name %></h1>
      <h2 id="event-name"><%= @event.name %></h2>
      <p id="event-date"><%= @event.start_date_time %></p>
      <% if Event.first.present? %>
        <div class="event-actions">
          <%= link_to "I'm here", event_event_track_path(@event.id), class: "btn btn-primary btn-pink mb-3" %>
          <p><%= link_to 'Not here?', event_path(@other_events.sample) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
